* {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* .sidespace {
  padding: 0 30px;
  margin: 0 auto;
} */
/* .image__container {
  position: relative;
  width: 100%;
  height: 400px;
}
.image__track {
  list-style: none;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; 
}
.image__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
} */
.img {
  /* width: 80%;
  height: 100%;
  object-fit: cover; */
  border: 8px solid white;
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}
.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 30px;
  background: transparent;
  border: 0;
  font-weight: bold;
}
.carousel__button--left {
  left: 85px;
  z-index: 100;
}
.carousel__button--right {
  right: -5px;
}
.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 0 auto;
}
.carousel__indicator {
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 5px;
  cursor: pointer;
}
h2 {
  font-size: 25px;
}
h6 {
  font-size: 12px !important;
  line-height: 45px !important;
}
.about {
  color: white;
}
.portfolio {
  border-radius: 15px;
  box-shadow: 0 1px 8px 4px rgb(31, 28, 28);
  margin: 100px;
  padding: 60px 40px;
}
.portfolio img {
  margin-bottom: 50px;
}
.portfolio h2 {
  padding-bottom: 20px;
}
.portfolio p {
  padding-top: 40px;
}
.width-100 {
  width: 100%;
}
.portfolio span {
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
}
.buton,
.buton:link,
.buton:visited {
  color: white;
  background-color: blue;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 10px;
}
.buton:hover {
  color: whitesmoke;
  background-color: rgb(123, 100, 223);
  text-decoration: none;
}
.buton:active {
  color: rgb(33, 33, 78);
  background-color: transparent;
  text-decoration: none;
}
.message a {
  color: white;
  font-size: 30px;
  border: 2px solid white;
  border-radius: 40px;
  padding: 15px;
  margin: 0 50px;
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.3);
}
.list {
  justify-content: flex-end;
}
.list a {
  background-color: transparent;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-weight: bold;
  background-color: rgb(230, 222, 222);
  padding: 10px;
  width: 100%;
}
.block {
  display: flex;
}
.ul {
  display: flex;
}
ul {
  background-color: transparent;
  padding: 0;
  width: 50%;
  margin: 0;
}
li {
  list-style-type: none;
  display: inline-block;
  margin-right: 40px;

  text-transform: capitalize;
}
.skill {
  padding: 0 0 50px 0;
}
.sectiona {
  padding-top: 80px;
}
.port {
  padding-top: 80px;
}
.sectionb {
  padding: 100px 0;
}

form {
  border: 1px solid white;
  border-radius: 10px;
  padding: 50px 20px 80px 50px;
  margin-bottom: 40px;
  width: 100%;
}
.form p {
  color: white;
  font-size: 20px;
}

.me {
  padding-top: 60px;
  color: white;
  font-size: 20px;
}
.back {
  background-color: turquoise;
}
.sect {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url(img/bolu.jpg);

  width: 100%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;

  color: white;
  padding: 150px 0;
}
.sass {
  width: 80px;
  height: 50px;
  display: block;
  margin: 0 auto;
}
.input--1 {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.form-control:focus {
  outline: none;
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}
.photo {
  margin-top: 3rem !important;
}
.text {
  text-align: center;
}
.Skills i {
  font-size: 50px;
}
.linear h1 {
  font-size: 70px;
}
.linear p {
  font-size: 50px;
}
footer {
  margin: 80px 0 0 0;
  padding-bottom: 20px;
}
footer p {
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  .me {
    padding-top: 0;
  }
}
@media screen and (max-width: 600px) {
  .me {
    padding-top: 60px;
  }
}

@media screen and (max-width: 480px) {
  .linear h1 {
    font-size: 20px;
  }
  .linear p {
    font-size: 20px;
  }
  .message a {
    color: white;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 40px;
    padding: 10px;
    margin: 0;
  }
  .port {
    padding-top: 80px;
    margin: 0 20px;
  }
  .photo {
    margin: 30px auto 0 !important;
  }
  .buton:not(last-child) {
    display: block;
    margin: 20px 0;
  }
}
