* {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.img {
  border: 8px solid white;
  border-radius: 50%;
  height: 400px;
  width: auto;
  object-fit: cover;
}
h2 {
  font-size: 25px;
}
h6 {
  font-size: 12px !important;
  line-height: 45px !important;
}
.about {
  color: white;
}
.portfolio {
  border-radius: 15px;
  box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.2);
  margin: 100px;
  padding: 60px 40px;
  transition: all 0.5s;
}
.portfolio:hover {
  box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}
.portfolio img {
  margin-bottom: 50px;
}
.portfolio h2 {
  padding-bottom: 20px;
}
.portfolio p {
  padding-top: 40px;
}
.width-100 {
  width: 100%;
}
.portfolio span {
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
}
.buton,
.buton:link,
.buton:visited {
  color: white;
  background-color: blue;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin: 5px 20px;
  transition: all 0.5s;
}
.buton:hover {
  color: whitesmoke;
  /* background-color: rgb(41, 6, 197); */
  text-decoration: none;
  box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}
.buton:active {
  color: rgb(33, 33, 78);
  background-color: transparent;
  text-decoration: none;
}
.message a {
  height: 100px;
  width: 100px;
  color: white;
  font-size: 30px;
  border: 2px solid white;
  border-radius: 40px;
  padding: 15px;
  margin: 0 50px;
  box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.2);
}
.message a:hover {
  box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.4);
  color: white;
}
.list {
  justify-content: flex-end;
}
.list a {
  background-color: transparent;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-weight: bold;
  background-color: rgb(230, 222, 222);
  padding: 10px;
  width: 100%;
}
ul {
  background-color: transparent;
  padding: 0;
  width: 50%;
  margin: 0;
}
li {
  list-style-type: none;
  display: inline-block;
  margin-right: 40px;

  text-transform: capitalize;
}
.skill {
  padding: 0 0 50px 0;
}
.sectiona {
  padding-top: 80px;
}
.port {
  padding-top: 80px;
}
.sectionb {
  padding: 100px 0;
}

form {
  border: 1px solid white;
  border-radius: 10px;
  padding: 50px 20px 80px 50px;
  margin-bottom: 40px;
  width: 100%;
}
.form p {
  color: white;
  font-size: 20px;
}

.me {
  padding-top: 60px;
  color: white;
  font-size: 20px;
}
.back {
  background-color: turquoise;
}
.sect {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.8)
    ),
    url(img/omoerin.jpg);

  width: 100%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;

  color: white;
  padding: 150px 0;
}
.sass {
  width: 80px;
  height: 50px;
  display: block;
  margin: 0 auto;
}
.input--1 {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.form-control:focus {
  outline: none;
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}
.photo {
  margin-top: 3rem !important;
}
.text {
  text-align: center;
}
.Skills i {
  font-size: 50px;
}
.linear {
  animation: btn-anime 2s cubic-bezier(1, 0.32, 0.23, 1.39);
}
.linear h1 {
  font-size: 70px;
}
.linear p {
  font-size: 50px;
}
footer {
  margin: 80px 0 0 0;
  padding-bottom: 20px;
}
footer p {
  color: white;
  font-weight: bold;
}
@keyframes btn-anime {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  90% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 1000px) {
  .me {
    padding-top: 0;
  }
}
@media screen and (max-width: 600px) {
  .me {
    padding-top: 60px;
  }
}

@media screen and (max-width: 480px) {
  .linear h1 {
    font-size: 20px;
  }
  .linear p {
    font-size: 20px;
  }
  .message a {
    color: white;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 40px;
    padding: 10px;
    margin: 0;
  }
  .message a:not(:first-child) {
    margin-left: 35px;
  }
  .port {
    padding-top: 80px;
    margin: 0 20px;
  }
  .photo {
    margin: 30px auto 0 !important;
  }
  .buton,
  .buton:link,
  .buton:visited {
    display: block;
    margin: 20px 0;
  }
}
