* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #000;
  color: rgba(255, 255, 255, 0.8);
}
a {
  list-style: none;
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.Header {
  margin-block: 5rem;
}
.Header__hello {
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 3px;
}
.Header__name {
  font-size: 4rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 80px;
}
.Header__desc {
  font-size: 3rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 50px;
}
.Header__text {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
}
.Header__about {
  margin-block: 3rem;
}
.Header__info {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 40px;
  width: 700px;
  max-width: 100%;
}
.Mail {
  margin-block: 3rem;
}
.Mail__message,
.Mail__message:link,
.Mail__message:active,
.Mail__message:visited {
  position: relative;
  color: gray;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.Mail__message::after {
  position: absolute;
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: gray;
  margin: 5px auto 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 4rem;
  margin-block: 5rem;
}
.Projects__title {
  font-size: 5rem;
  font-weight: 500;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}
.Project__summary {
  position: relative;
  box-shadow: 0 0 10px 4px rgba(225, 225, 225, 0.5);
  border-radius: 7px;
  overflow: hidden;
  height: 260px;
}
.Project__image {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.Project__info {
  position: absolute;
  top: 75%;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}
.Project__name {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}
.Project__language {
  margin-block: 1rem;
}
.Project__skills {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  background-color: rgb(31 41 55);
  color: rgba(255, 255, 255, 0.9);
  padding: 0.2rem 0.5rem;
  margin-right: 1rem;
  border-radius: 5px;
}
.Project__modal {
  width: 100%;
  height: 100%;
  z-index: 100;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  position: absolute;
  top: 100%;
  transition: all 0.5s;
}
.Project__author {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
}
.Project__summary:hover .Project__modal {
  top: 0;
}
.Projects__link {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10rem 0 0 3rem;
  color: rgba(255, 255, 255, 0.9);
}
.Skills {
  width: 700px;
  max-width: 100%;
}
.Skills__title {
  font-size: 4rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 50px;
}
.Skills__text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 40px;
}
.Skills__grid {
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 2rem;
}
.Skills__tech {
  padding: 1rem 1.4rem;
  border: 4px solid rgb(67, 129, 126);
  background: rgba(162, 165, 214, 0.082);
  font-size: 1.8rem;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(225, 225, 225, 0.3);
  border-radius: 8px;
}
